$lPrimary: hsl(237, 41%, 95%);
$lPrimaryOpac: hsla(237, 41%, 95%, 0.5);
$mPrimary: hsl(237, 43%, 40%);
$dPrimary: hsl(237, 43%, 15%);
$dPrimaryOpac: hsla(237, 43%, 15%, 0.3);
$dPrimaryOpac2: hsla(237, 43%, 15%, 0.7);

$lSecondary: hsl(105, 13%, 95%);
$mSecondary: hsl(105, 13%, 55%);
$dSecondary: hsl(105, 13%, 18%);

%mainColorTransition {
    color: $dPrimaryOpac2;
    box-shadow: 0 0 0 $dPrimaryOpac;
    transition: box-shadow 0.5s, color 0.5s;
}

%mainColorTransitionHover {
    box-shadow: 0 0 5px $dPrimaryOpac;
    color: $dPrimary;
    transition: box-shadow 0.5s, color 0.5s;
}

%pOverflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-height: 1.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%pOverflowHover {
    overflow: visible;
    -webkit-line-clamp: unset;
}

// Commom to every page:
.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: $lSecondary;
}

.navbar .socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .socialMedia i {
    color: $dPrimary;
    padding: 0 0.5rem;
}

.socialMedia i:hover {
    transform: scale(1.1);
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: $dPrimaryOpac;
    padding: 0;
    margin: 0.5rem 1rem;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: $dPrimary;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: $dPrimary;
    border-bottom: 2px solid $dPrimary;
    font-weight: 500;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

header {
    display: flex;
    background-image: url("../img/wallpaperaccess_header.jpg");
    background-size: 100%;
    background-position: center;
    min-height: 40vh;
    position: relative;
    align-items: center;
    box-shadow: -4px 4px 4px 4px $dPrimaryOpac;
}

#headerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#avatar img {
    border-radius: 50%;
    height: 20vh;
    width: auto;
    top: 50%;
    margin: 10%;
    border: 1px solid $lPrimaryOpac;
}

#title {
    color: $lPrimary;
    text-shadow: 1px 1px 0 $lPrimaryOpac;
    margin: 10%;
    white-space: nowrap;
}

#title h1 {
    font-size: 3rem;
}

#title h5 {
    text-align: right;
}

footer {
    background-color: $dPrimary;
}

.footerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    color: $lPrimaryOpac;
    font-size: 0.7rem;
    margin: 0;
    padding: 1rem;
}

footer .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .socialMedia i {
    padding: 1rem 1rem 0 1rem;
    color: $lPrimary;
}

#main {
    max-width: 80%;
    background-color: $lSecondary;
}

// Homepage
#main .row:first-child {
    padding-top: 5rem;
}

#main .row:last-child {
    padding-bottom: 5rem;
}

#main .mainContent {
    margin: 1rem 1rem;
    padding: 1rem;
    @extend %mainColorTransition;
    .contentText p {
        @extend %pOverflowEllipsis
    }
}

#main .mainContent:hover {
    @extend %mainColorTransitionHover;
    p {
        @extend %pOverflowHover;
    }
}

#main .row .mainContent .techImage {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
}

#main h5, p {
    padding: 0.5rem 2rem;
}

#main .mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 576px) {
    #main {
        max-width: 100%;
    }
}

// Portfolio
#main .row .card.box {
    margin: 1rem;
    @extend %mainColorTransition;
    i {
        color: $dPrimaryOpac2;
    }
    .card-body {
        text-align: center;
        p {
            @extend %pOverflowEllipsis;
        }
    }
}

#main .row .card.box:hover {
    @extend %mainColorTransitionHover;
    i {
        color: $dPrimary;
    }
    p {
        @extend %pOverflowHover;
    }
}

#main .row .card.box .img-thumbnail:hover {
    box-shadow: 0 0 2px 1px $dPrimaryOpac;
}

#main .row .card.box i:hover {
    transform: scale(1.05);
}

// Contact for hiring
.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form .rowInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form .rowInputs div {
    width: 49%;
}

.form .rowInputs label {
    color: $dPrimaryOpac2
}

.form .textArea {
    margin-bottom: 1rem;
}

.form .btn {
    background-color: $dPrimary;
    color: $lSecondary;
    width: 15rem;
    align-self: center;
}

.form .btn:hover {
    transform: scale(1.02);
    border: 1px solid $lPrimaryOpac;
}

@media (max-width: 576px) {
    .form .rowInputs {
        flex-direction: column;
        margin: 0;        
    }

    .form .rowInputs div {
        width: 100%;
        margin-bottom: 1rem;
    }
}